@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 80%; } }

body {
  font-family: "Open Sans", sans-serif; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  background: #fff; }
  @media screen and (min-width: 1440px) {
    .container {
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); } }

.cta {
  border-radius: 2.5rem;
  border: 1px solid #ff52bf; }
  .cta:hover {
    cursor: pointer; }
  .cta--header, .cta--banner {
    padding: 0.5rem 2rem; }
  .cta--header {
    box-shadow: 3px 3px 15px rgba(255, 82, 186, 0.2);
    background: #fff;
    color: #ff52bf;
    border: 1px solid #ff52bf; }
    .cta--header:hover {
      background: #ff52bf;
      color: #fff; }
    @media screen and (min-width: 768px) {
      .cta--header {
        padding: 0.7rem 2rem; } }
  .cta--banner, .cta--footer {
    box-shadow: 0px 12px 15px rgba(255, 82, 186, 0.2);
    color: #fff;
    background: #ff52bf;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem; }
    .cta--banner:hover, .cta--footer:hover {
      background: #fff;
      color: #ff52bf; }
  .cta--banner {
    width: 20rem;
    height: 3.8rem;
    justify-self: center; }
  .cta--footer {
    border-radius: 5px;
    margin-left: auto;
    width: 50%;
    height: 3.5rem;
    display: block; }
    @media screen and (min-width: 769px) {
      .cta--footer {
        width: 100%;
        height: 3rem; } }

.images {
  max-width: 100%;
  height: auto; }

header {
  padding: 3rem 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 768px) {
    header {
      padding: 5rem 8vw 3rem; } }
  header img {
    height: 1.5rem; }
    @media screen and (min-width: 768px) {
      header img {
        height: 2rem; } }

.banner {
  text-align: center;
  padding: 5rem 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .banner__title {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    padding-top: 2.5rem; }
    @media screen and (min-width: 768px) {
      .banner__title {
        font-size: 3rem; } }
  .banner__subtitle {
    padding: 4rem 0.5rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem; }
    @media screen and (min-width: 1200px) {
      .banner__subtitle {
        width: 55%; } }

.screen-img {
  padding: 6rem 8vw 10rem; }
  @media screen and (min-width: 768px) {
    .screen-img {
      padding: 6rem 14vw 10rem; } }

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem; }
  @media screen and (min-width: 768px) {
    .stats {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start; } }
  .stats__info:first-child {
    padding-bottom: 5rem; }
  .stats__info img {
    width: 35px;
    height: 28px; }
  .stats__info h1 {
    font-size: 4.5rem; }
  .stats__info p {
    text-align: center; }

.people__grow, .people__conversations, .people__users {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr)); }
  .people__grow .text, .people__conversations .text, .people__users .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .people__grow .text, .people__conversations .text, .people__users .text {
        align-items: flex-start; } }
    .people__grow .text h2, .people__conversations .text h2, .people__users .text h2 {
      font-family: "Poppins", sans-serif;
      letter-spacing: 1px;
      font-size: 1.8rem; }
    .people__grow .text p, .people__conversations .text p, .people__users .text p {
      font-size: 1.2rem;
      padding-top: 1.5rem;
      text-align: center; }
      @media screen and (min-width: 769px) {
        .people__grow .text p, .people__conversations .text p, .people__users .text p {
          text-align: left;
          font-size: 90%; } }
  @media screen and (min-width: 375px) {
    .people__grow img, .people__conversations img, .people__users img {
      padding: 5rem 2rem; } }
  @media screen and (min-width: 768px) {
    .people__grow img, .people__conversations img, .people__users img {
      padding: 0; } }

.people__grow, .people__users {
  background: #00a6ff;
  position: relative;
  padding: 8rem 10vw;
  background: #f5faff; }
  @media screen and (max-width: 767px) {
    .people__grow .text, .people__users .text {
      order: 2; }
    .people__grow img, .people__users img {
      order: 1; } }
  @media screen and (min-width: 768px) {
    .people__grow p, .people__users p {
      padding-right: 3rem; } }

.people__grow::before {
  position: absolute;
  content: "";
  left: 0;
  background: url(../images/bg-section-top-mobile-1.svg) no-repeat;
  height: 112px;
  width: 100%;
  top: -7.7rem; }
  @media screen and (min-width: 376px) {
    .people__grow::before {
      background: url(../images/bg-section-top-desktop-1.svg) no-repeat;
      height: 165px;
      width: 100%;
      top: -8.2rem; } }
  @media screen and (min-width: 768px) {
    .people__grow::before {
      top: -10rem; } }

.people__grow::after {
  position: absolute;
  content: "";
  background: url(../images/bg-section-bottom-desktop-1.svg) no-repeat;
  height: 139px;
  width: 100%;
  bottom: -8rem;
  left: 0; }
  @media screen and (max-width: 375px) {
    .people__grow::after {
      background: url(../images/bg-section-bottom-mobile-1.svg) no-repeat;
      height: 112px;
      width: 100%;
      bottom: -8.7rem; } }

.people__conversations {
  padding: 16rem 10vw; }
  @media screen and (min-width: 768px) {
    .people__conversations .text {
      padding-left: 3rem; } }

.people__users::before {
  position: absolute;
  content: "";
  background: url(../images/bg-section-top-desktop-2.svg) no-repeat;
  height: 156px;
  width: 100%;
  top: -8.2rem;
  left: 0; }
  @media screen and (max-width: 375px) {
    .people__users::before {
      background: url(../images/bg-section-top-mobile-2.svg) no-repeat;
      height: 101px;
      top: -7.9rem; } }

.people__users::after {
  content: "";
  position: absolute;
  background: url(../images/bg-section-bottom-desktop-2.svg) no-repeat;
  height: 139px;
  width: 100%;
  bottom: -8rem;
  left: 0; }
  @media screen and (max-width: 768px) {
    .people__users::after {
      bottom: -9.5rem; } }
  @media screen and (max-width: 375px) {
    .people__users::after {
      background: url(../images/bg-section-bottom-mobile-2.svg) no-repeat;
      height: 101px;
      bottom: -7.8rem; } }

.action {
  padding: 18rem 10vw;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .action h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.1rem;
    padding-bottom: 2rem;
    text-align: center; }

.footer {
  color: #ffffff;
  background: #00252e;
  position: relative; }
  .footer::before {
    position: absolute;
    content: "";
    width: 100%;
    background: url(../images/bg-footer-top-mobile.svg) no-repeat;
    height: 53px;
    top: -4.14rem; }
    @media screen and (min-width: 376px) {
      .footer::before {
        background: url(../images/bg-footer-top-desktop.svg);
        height: 158px;
        top: -9.7rem; } }
  .footer__container {
    padding: 3rem 8vw;
    display: flex; }
    @media screen and (max-width: 768px) {
      .footer__container {
        flex-direction: column; } }
    .footer__container p {
      line-height: 2; }
      @media screen and (max-width: 768px) {
        .footer__container p {
          font-size: 1.2rem;
          line-height: 1.5; } }
      @media screen and (min-width: 769px) {
        .footer__container p {
          padding-right: 3rem; } }
    @media screen and (min-width: 769px) {
      .footer__container p {
        padding-right: 3rem; } }
  .footer__contact {
    padding-right: 10vw;
    display: grid;
    grid-template-rows: 4rem 7rem 6rem 3rem;
    grid-row-gap: 2rem; }
    @media screen and (min-width: 769px) {
      .footer__contact {
        grid-template-rows: 3rem 12rem 6rem 3rem; } }
    @media screen and (max-width: 768px) {
      .footer__contact {
        order: 2; } }
    .footer__contact .logo {
      display: flex; }
      .footer__contact .logo img {
        filter: grayscale(1) brightness(0) invert(1);
        height: 2.5rem;
        margin-top: 0.8rem;
        padding-right: 0.3rem; }
      .footer__contact .logo__name {
        font-size: 3rem;
        font-family: "Poppins", sans-serif;
        letter-spacing: 1px; }
    .footer__contact .mediums__info {
      display: flex;
      padding-bottom: 1.2rem; }
      .footer__contact .mediums__info img {
        height: 1.3rem;
        width: 1.3rem;
        margin-right: 1rem;
        margin-top: 0.2rem; }
      .footer__contact .mediums__info a {
        position: relative;
        text-decoration: none;
        color: #fff; }
        .footer__contact .mediums__info a::before {
          content: "";
          position: absolute;
          width: 80%;
          height: 2px;
          bottom: -3px;
          left: 0;
          background-color: #fff;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s; }
        .footer__contact .mediums__info a:hover::before {
          visibility: visible;
          transform: scaleX(1); }
    .footer__contact .social {
      font-size: 2rem; }
      .footer__contact .social .fab {
        padding-right: 1rem;
        transition: transform 0.2s; }
        .footer__contact .social .fab:hover {
          cursor: pointer;
          transform: scale(1.3, 1.4); }
  .footer__newsletter {
    display: grid;
    grid-template-rows: 3rem 7rem 4rem;
    grid-row-gap: 1rem;
    padding-bottom: 7rem; }
    @media screen and (max-width: 768px) {
      .footer__newsletter {
        order: 1; } }
    @media screen and (min-width: 769px) {
      .footer__newsletter {
        grid-template-rows: 3rem 10rem 4rem; } }
    .footer__newsletter h3 {
      font-size: 1.7rem; }
    .footer__newsletter form {
      padding-top: 0.5rem;
      padding: 0; }
      @media screen and (min-width: 992px) {
        .footer__newsletter form {
          display: grid;
          grid-template-columns: 4fr 2fr;
          column-gap: 1rem; } }
      .footer__newsletter form input[type="email"] {
        height: 3rem;
        border-radius: 5px;
        border: none;
        padding: 3px 1rem;
        font-size: 1rem;
        margin-bottom: 1rem;
        width: 100%; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #b4bde4; }
