// COLOR VARIABLES
$color-primary: hsl(322, 100%, 66%);
$color-cyan: hsl(192, 100%, 9%);
$color-paleblue: hsl(207, 100%, 98%);
$color-white: #fff;

// FONT VARIABLES
$font-body: "Open Sans", sans-serif;
$font-heading: "Poppins", sans-serif;

// BREAKPOINTS
$bp-mobile: 375px;
$bp-desktop: 1440px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  font-size: 100%; //120%; //19.2px = 1rem
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 7rem 33rem min-content 20rem 156rem 38rem 25rem;
  min-width: 100%;
}

.cta {
  border-radius: 2.5rem;
  border: 1px solid $color-primary;
  &--header {
    box-shadow: 3px 3px 15px rgba(255, 82, 186, 0.2);
    padding: 0.5rem 2rem;
    background: $color-white;
    color: $color-primary;
    border: 1px solid $color-primary;
  }
  &--banner {
    box-shadow: 0px 12px 15px rgba(255, 82, 186, 0.2);
    color: $color-white;
    background: $color-primary;
    padding: 0.5rem 2rem;
    font-size: 0.9rem;
    font-weight: 600;

    width: 20rem;
    height: 3.8rem;
    justify-self: center;
    letter-spacing: 1px;
  }
}
