header {
  grid-column: 2 / span 10;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 2rem;
  }
}

.banner {
  grid-column: 3 / span 8;
  text-align: center;
  padding-top: 3rem;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 2.5rem;

  &__title {
    grid-column: 1 / -1;
    font-size: 2rem;
    padding-top: 2.5rem;
  }

  &__subtitle {
    grid-column: 2 / span 5;
    padding: 0 2rem;
    font-family: $font-body;
    font-weight: 400;
  }

  .cta {
    grid-column: 3 / span 3;
  }
}

.images {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.screen-img {
  grid-column: 3 / span 8;
  padding-bottom: 8rem;
}

.stats {
  grid-column: 1/-1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  &__info {
    display: grid;
    grid-template-rows: 2rem 5rem 2rem;
    grid-gap: 1rem;
    justify-self: center;
    h1 {
      font-size: 4rem;
    }
    p {
      text-align: center;
    }
  }

  @media screen and (min-width: 720px) {
    .messages {
      transform: translateX(-7rem);
    }
  }
  @media screen and (max-width: 862px) {
    grid-gap: 5rem;
  }
}

.peoples {
  grid-column: 1 / -1;
  top: 8rem;
  position: relative;

  &::before {
    background: url(../images/bg-section-top-desktop-1.svg);
    position: absolute;
    content: "";
    height: 139px;
    width: 100%;
    top: -8rem;
  }
}

.people {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 8rem 0;
  .text {
    grid-area: text;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    grid-area: image;
  }

  &__grow,
  &__users {
    background: $color-paleblue;
    grid-template-areas: "text image";

    .text {
      grid-column: 2 / 6;
    }

    img {
      grid-column: 6 / 12;
    }
  }

  // &__grow {
  //   position: relative;

  //   &::before {
  //     background-image: url(../images/bg-section-top-desktop-1.svg);
  //     position: absolute;
  //     content: "";
  //     height: 139px;
  //     width: 1440px;
  //   }
  // }

  &__conversations {
    grid-template-areas: "image text";
    .text {
      grid-column: 6 / 12;
    }

    img {
      grid-column: 2 / 6;
    }
  }
}

.action {
  grid-column: 4 / 10;

  .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 2rem;
      padding-bottom: 2.5rem;
    }
  }
}

footer {
  grid-column: 1/-1;
  color: #ffffff;
  background: $color-cyan;
  &__logo {
    filter: grayscale(1) brightness(0) invert(1);
  }
}

// .attribution {
//   font-size: 11px;
//   text-align: center;
// }

// .attribution a {
//   color: hsl(228, 45%, 44%);
// }
