header {
  grid-column: 2 / span 10;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 2rem;
  }
}

.banner {
  grid-column: 3 / span 8;
  text-align: center;
  padding-top: 3rem;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 2.5rem;

  &__title {
    grid-column: 1 / -1;
    font-size: 2rem;
    padding-top: 2.5rem;
  }

  &__subtitle {
    grid-column: 2 / span 5;
    padding: 0 2rem;
    font-family: $font-body;
    font-weight: 400;
  }

  .cta {
    grid-column: 3 / span 3;
  }
}

.images {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.screen-img {
  grid-column: 3 / span 8;
  padding-bottom: 8rem;
}

.stats {
  grid-column: 1/-1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  &__info {
    display: grid;
    grid-template-rows: 2rem 5rem 2rem;
    grid-gap: 1rem;
    justify-self: center;
    h1 {
      font-size: 4rem;
    }
    p {
      text-align: center;
    }
  }

  @media screen and (max-width: 862px) {
    grid-gap: 5rem;
  }

  @media screen and (min-width: 720px) {
    .messages {
      transform: translateX(-7rem);
    }
  }
}

.people {
  grid-column: 1 / -1;
  padding: 7rem 0;

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-family: $font-heading;
      letter-spacing: 1px;
    }

    p {
      font-size: smaller;
      padding-top: 1.5rem;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    grid-area: image;
  }

  &__grow,
  &__users {
    background: $color-paleblue;
    grid-template-areas: "text image";
    position: relative;

    .text {
      grid-column: 2 / 7;
    }

    img {
      grid-column: 8 / 12;
    }
  }

  &__grow {
    &::before {
      position: absolute;
      content: "";
      background: url(../images/bg-section-top-desktop-1.svg) no-repeat;
      height: 165px;
      width: 100%;
      top: -8rem;
    }
    &::after {
      position: absolute;
      content: "";
      background: url(../images/bg-section-bottom-desktop-1.svg) no-repeat;
      height: 139px;
      width: 100%;
      bottom: -8rem;
    }
  }

  &__conversations {
    grid-template-areas: "image text";
    padding: 16rem 0;

    img {
      grid-column: 2 / 7;
    }

    .text {
      grid-column: 8 / 12;
    }
  }

  &__users {
    &::before {
      position: absolute;
      content: "";
      background: url(../images/bg-section-top-desktop-2.svg) no-repeat;
      height: 156px;
      width: 100%;
      top: -8rem;
    }
    &::after {
      position: absolute;
      content: "";
      background: url(../images/bg-section-bottom-desktop-2.svg) no-repeat;
      height: 139px;
      width: 100%;
      bottom: -8rem;
    }
  }
}

.action {
  grid-column: 1 / -1;

  .signup {
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;

    h1 {
      font-family: $font-heading;
      font-size: 2.2rem;
      padding-bottom: 2rem;
    }
  }
}

.footer {
  grid-column: 1/-1;
  color: #ffffff;
  background: $color-cyan;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: url(../images/bg-footer-top-desktop.svg) no-repeat;
    height: 158px;
    width: 100%;
    top: -9.5rem;
  }

  &__container {
    padding-top: 4rem;
    padding-right: 100px;
    padding-left: 118px;

    display: flex;
    // flex-wrap: wrap;
  }

  &__right {
    display: grid;
    grid-template-rows: 3rem 4rem 4rem;
  }
}

.left-panel {
  display: grid;
  grid-template-rows: 3rem 4rem 5rem;
  grid-row-gap: 1rem;
  grid-template-columns: 18rem;
  padding-right: 8rem;

  &__logo {
    display: flex;

    img {
      filter: grayscale(1) brightness(0) invert(1);
      height: 2.3rem; //38.4px
      padding-top: 0.42rem;
      padding-right: 0.3rem;
    }
    .name {
      font-size: 2.2rem;
      font-weight: 800;
    }
  }

  p {
    font-size: smaller;
  }

  &__contact {
    .info {
      display: flex;
      padding-bottom: 1.2rem;

      img {
        padding-right: 1rem;
      }

      p {
      }
    }
  }
}

// .attribution {
//   font-size: 11px;
//   text-align: center;
// }

// .attribution a {
//   color: hsl(228, 45%, 44%);
// }
